@model IEnumerable<BlogClient.Models.BlogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome!!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfUpload)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfUpload)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BlogId }, new { onclick = "return confirm('Are you sure to Delete?')" })
        </td>
    </tr>
}

</table>
